[mysqld]
default-storage-engine = INNODB
# 2017-05-18
# «The number of days for automatic binary log file removal.
# The default is 0, which means “no automatic removal.”
# Possible removals happen at startup and when the binary log is flushed».
; https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_expire_logs_days
expire_logs_days = 10
# 2017-04-29 It removes the warning «TIMESTAMP with implicit DEFAULT value is deprecated»: https://df.tips/t/185
explicit_defaults_for_timestamp = 1
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
innodb_buffer_pool_size = 1G
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_checksum_algorithm
innodb_checksum_algorithm = crc32
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_fast_shutdown
innodb_fast_shutdown = 1
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
# 2020-05-26
# «With a setting of 2, logs are written after each transaction commit and flushed to disk once per second.
# Transactions for which logs have not been flushed can be lost in a crash.»
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 125M
key_buffer_size = 384M
log_error = /var/log/_mage2pro/mysql.log
log-output = NONE
max_allowed_packet = 256M
max_binlog_size = 100M
max_connections = 700
# 2017-04-30  https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_myisam_max_sort_file_size
myisam_max_sort_file_size = 100G
myisam_sort_buffer_size = 50M
query_cache_size = 200M
read_buffer_size = 1M
read_rnd_buffer_size = 768K
skip-external-locking
sort_buffer_size = 4M
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_table_definition_cache
table_definition_cache = 20000
table_open_cache = 20000
thread_cache_size = 34
thread_stack = 192K
tmp_table_size = 112M