[mysqld]
default-storage-engine=MyISAM
innodb_file_per_table=1
key_buffer_size=32M
log-error=/var/lib/mysql/vps66636.inmotionhosting.com.err
max_allowed_packet=268435456
max_connections=100
max_heap_table_size=32M
max_user_connections=75
myisam_sort_buffer_size=16M
net_buffer_length=8K
open_files_limit=40000
performance-schema=0
query_cache_size=32M
read_buffer_size=256K
read_rnd_buffer_size=512K
skip-external-locking
sort_buffer_size=512K
table_open_cache=128
thread_cache_size=4
tmp_table_size=32M
